.footer {
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-800);
    color: #fff;
}

.footer span {
    font-weight: bold;
    color: var(--blue);
}